<%
  text01 ||= true
  text02 ||= true
  text03 ||= true
%>


<% item.each do |element| %>
  <div class="content">
    <p class="note">
      <%= element.note %>
    </p>
    <h2 class="bx--type-xl">
      <%= element.title %>
    </h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">

        <% if text01.present? %>
          <p class="description-text">
            <%= element.text01 %>
          </p>
        <% end %>

        <% if text02.present? %>
          <p class="description-text">
            <%= element.text02 %>
          </p>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-6">
        <% if text03.present? %>
          <p class="description-text">
            <%= element.text03 %>
          </p>
        <% end %>
        <p class="description-actions">
          <span class="title">
            Sandbox URL:
          </span>
          <%= link_to 'https://sandbox.smartdigits.io/apidocs/verify', 'https://sandbox.smartdigits.io/apidocs/verify', target: '_blank' %>
        </p>
      </div>
    </div>
  </div>
<% end %>
