<script type="text/javascript">
  var phone = "";
  var resultShowed = false;




  function getState() {
      var result = 0;
      var resultArray = ['STATE_OK', 'STATE_MAYBE', 'STATE_HACKED'];

      for (counter = phone.length - 1; counter >= 0; counter--) {
          result = result + parseInt(phone.charAt(counter));
      }

      indexSelected = result % resultArray.length;
      return resultArray[indexSelected];
  }

  function reset() {
      document.getElementById('buttonSummit').removeAttribute("style");
      document.getElementById('inputPhone').removeAttribute("style");
      document.getElementById('result').removeAttribute("style");
      document.getElementById('resultDescription').removeAttribute("style");
      document.getElementById('phone').removeAttribute("style");
      document.getElementById('progressIco').removeAttribute("style");
      document.getElementById('progressBack').removeAttribute("style");
      document.getElementById('progressFront').removeAttribute("style");
  }

  function validateNumber() {

      if (resultShowed) { reset(); }
      phone = document.getElementById('phone').value.trim();
      if (event.keyCode === 13) {
          event.preventDefault();
          launch();
      }

  }

  function launch() {

      if (phone <= 0 || phone == null || isNaN(phone)) { return; }

      document.getElementById('progressFront').removeAttribute("style");
      document.getElementById('phone').removeAttribute("style");
      document.getElementById('phone').disabled = true;
      document.getElementById('buttonSummit').style.display = "none";
      document.getElementById('result').removeAttribute("style");

      setTimeout(function () {
          document.getElementById('progressFront').style.transition = "2s";
          document.getElementById('progressFront').style.width = document.getElementById('progressBack').clientWidth + "px";
      }, 20);

      setTimeout(function () {
          document.getElementById('progressFront').style.transition = "0s";

          if (getState() == "STATE_OK") {
              state_ok();
          } else if (getState() == "STATE_MAYBE") {
              state_maybe();
          } else {
              state_hacked();
          }

          resultShowed = true;
          document.getElementById('phone').disabled = false;

      }, 2020);
  }


  function state_ok() {
      document.getElementById('progressFront').style.backgroundColor = "#00CEAC";
      document.getElementById('phone').style.color = "#00CEAC";
      document.getElementById('resultIcon').src = "/assets/images/fake-demo/demo-ok.svg";
      document.getElementById('resultBackground').style.backgroundColor = "#00CEAC";
      document.getElementById('resultText').style.color = "#00CEAC";
      document.getElementById('resultText').innerHTML = '<%= I18n.t(:very_low_risk) %>';
      document.getElementById('result').style.display = "block";
      document.getElementById('resultDescription').style.display = "block";
      document.getElementById('resultDescription').style.color = "#3A3A3A";
      document.getElementById('resultDescription').innerHTML = '<%= I18n.t(:very_low_risk_text) %>';

  }

  function state_maybe() {
      document.getElementById('progressFront').style.backgroundColor = "#F5A81C";
      document.getElementById('phone').style.color = "#F5A81C";
      document.getElementById('resultIcon').src = "/assets/images/fake-demo/demo-maybe.svg";
      document.getElementById('resultBackground').style.backgroundColor = "#F5A81C";
      document.getElementById('resultText').style.color = "#F5A81C";
      document.getElementById('resultText').innerHTML =  '<%= I18n.t(:high_risk) %>';
      document.getElementById('result').style.display = "block";
      document.getElementById('resultDescription').style.display = "block";
      document.getElementById('resultDescription').style.color = "#3A3A3A";
      document.getElementById('resultDescription').innerHTML = '<%= I18n.t(:high_risk_text) %>';

  }

  function state_hacked() {
      document.getElementById('progressFront').style.backgroundColor = "#D0021B";
      document.getElementById('phone').style.color = "#D0021B";
      document.getElementById('resultIcon').src = "/assets/images/fake-demo/demo-hacked.svg";
      document.getElementById('resultBackground').style.backgroundColor = "#D0021B";
      document.getElementById('resultText').style.color = "#D0021B";
      document.getElementById('resultText').innerHTML = '<%= I18n.t(:very_high_risk) %>';
      document.getElementById('result').style.display = "block";
      document.getElementById('resultDescription').style.display = "block";
      document.getElementById('resultDescription').style.color = "#D0021B";
      document.getElementById('resultDescription').innerHTML = '<%= I18n.t(:very_high_risk_text) %>';
  }

</script>


<div class="modal fade" id="demo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-label="Close">
          <i class="ic icon-ic-close" id="close-icon"></i>
        </a>
      </div>
      <div class="modal-body">

          <div class="row">
            <div class="col-xs-12">
              <div class="titleDemo">SIM Swap</div>
              <div class="subtitleDemo">ATP – demo</div>
            </div>
          </div>

          <div class="row between-xs middle-xs modal-inner">
            <div class="col-xs-12 col-sm-4">
              <div class="separatorInput">
                <div class="labelInput">MSISDN</div>
                <div id="inputPhone">
                  <input type="number" value="" placeholder="<%= I18n.t(:input_insert_number) %> 123456789" id="phone" onkeyup="validateNumber()" min="0">

                  <div id="progressBack"></div>
                  <div id="progressFront"></div>
                </div>
                <div id="resultDescription"></div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4">
              <div class="separatorButton" id="buttonSummit">
                <div onclick="launch()" class="c-btn btn-secondary btn-medium">Summit</div>
              </div>

              <div class="separatorResult" id="result">
                <div id="resultBackground"><img id="resultIcon"/></div>
                <div id="resultText"></div>
              </div>
            </div>
          </div>

      </div>

      <div class="modal-footer footer">
        <div class="container">
          <div class="row between-xs">
            <div class="col-xs-2">
              <%= svg_tag 'logo-luca.svg' %>
            </div>
            <div class="col-xs-3">
              <%= svg_tag 'telefonica-logo.svg', id: 'data-unit-logo' %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
