
<div class="featured-box row">

  <div class="featured-box__item col-xs-12 col-sm-6 col-lg-4 background-blue">
    <p class="note">
      ACCOUNT TAKEOVER PROTECTION
    </p>
    <h2 class="bx--type-h1">ATP</h2>
    <p class="bx--type-p">
      The LUCA ATP service allows service providers to determine the timestamp of the last MSISDN/IMSI pairing change on the network and the unconditional call divert status of a MSISDN in real-time.
    </p>
    <div class="actions">
      <p class="bx--type-subH2b">
        Sandbox URLs
      </p>
      <p class="bx--type-note">
        SIM Swap: <%= link_to 'https://sandbox.smartdigits.io/apidocs/simswap', 'https://sandbox.smartdigits.io/apidocs/simswap', class:'action-link', target: '_blank' %>
      </p>
      <p class="bx--type-note">
        Call Divert: <%= link_to 'https://sandbox.smartdigits.io/apidocs/calldivert', 'https://sandbox.smartdigits.io/apidocs/calldivert', class:'action-link', target: '_blank' %>
      </p>
    </div>
  </div>

  <div class="featured-box__item col-xs-12 col-sm-6 col-lg-4">
    <p class="note note-green">
      xMNO MATCH
    </p>
    <h2 class="bx--type-h1">Match</h2>
    <p class="bx--type-p u-font-bold">
      Match end user data bound to the end user MSISDN to verify their identity.
    </p>
    <p class="bx--type-p">
      End user data including first name, last name, address and date of birth can be matched.
    </p>
    <div class="actions">
      <%= link_to 'Explore', '#match', class: 'c-btn btn-secondary btn-small' %>
    </div>
  </div>

  <div class="featured-box__item col-xs-12 col-sm-6 col-lg-4">
    <p class="note">
      <%= link_to 'https://sandbox.smartdigits.io/apidocs/verify', 'https://sandbox.smartdigits.io/apidocs/verify', target: '_blank' %>
    </p>
    <h2 class="bx--type-h1">Verify</h2>
    <p class="bx--type-p u-font-bold">
      Verify a mobile number instantly and securely within the mobile  browser or mobile app when on the carrier mobile data network
    </p>
    <div class="actions">
      <%= link_to 'Explore', '#verify', class: 'c-btn btn-secondary btn-small' %>
    </div>
  </div>

</div>
