<div class="row info-icons__content">


  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= svg_tag 'icons/play.svg' %>
      </div>
      <p class="info-icons__title">
        Faster
      </p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= svg_tag 'icons/lock.svg' %>
      </div>
      <p class="info-icons__title">
        More secure
      </p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= svg_tag 'icons/platforms.svg' %>
      </div>
      <p class="info-icons__title">
        All platforms
      </p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= svg_tag 'icons/fallback.svg' %>
      </div>
      <p class="info-icons__title">
        Simple fallback
      </p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= svg_tag 'icons/availability.svg' %>
      </div>
      <p class="info-icons__title">
        Hight availability
      </p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= svg_tag 'icons/customize.svg' %>
      </div>
      <p class="info-icons__title">
        Customizable
      </p>
    </div>
  </div>


  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= svg_tag 'icons/integration.svg' %>
      </div>
      <p class="info-icons__title">
        Easy integration
      </p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= svg_tag 'icons/user.svg' %>
      </div>
      <p class="info-icons__title">
        Protect customer privacy
      </p>
    </div>
  </div>


</div>
