




  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= image_tag'lock.png' %>
      </div>
      <p class="info-icons__title">
        More secure
      </p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= image_tag 'platform.png' %>
      </div>
      <p class="info-icons__title">
        All platforms
      </p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= image_tag 'fallback.png' %>
      </div>
      <p class="info-icons__title">
        Simple fallback
      </p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= image_tag 'faster.png' %>
      </div>
      <p class="info-icons__title">
        Hight availability
      </p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= image_tag 'customice.png' %>
      </div>
      <p class="info-icons__title">
        Customizable
      </p>
    </div>
  </div>


  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= image_tag 'integration.png' %>
      </div>
      <p class="info-icons__title">
        Easy integration
      </p>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="info-icons__item">
      <div class="info-icons__image">
        <%= image_tag 'user.png' %>
      </div>
      <p class="info-icons__title">
        Protect customer privacy
      </p>
    </div>
  </div>
</div>
